{% extends "base.html" %}
{% load i18n tapeforms %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" action="">
  {% csrf_token %}
  {% form form %}

  <div class="row justify-content-between">
    <div class="col-sm-auto">
      <button type="submit" class="btn btn-primary btn-block">
        {% trans "Save" %}
      </button>
    </div>
    <div class="col-sm-auto">
      <a href="{% url "accounts:password_change" %}" class="btn btn-link btn-block">
        {% trans "Change my password" %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}
